/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#html5-watermark {
    display: none !important;
}
#summit-sessions-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 45%);
}
#summit-sessions-container .summit-session img {
    border-radius: 40px 40px 80px 40px;
}
#summit-sessions-container h2 {
    margin: 10px 20px 20px;
    font-size: 20px;
    font-family: "Varela Round", Sans-serif;
}
#summit-sessions-container h2 a span {
    font-size: 20px;
    font-style: italic;
}
#summit-sessions-container h2 a {
    color: #0D1F36;
    text-decoration: underline;
}
#summit-sessions-container h2 a:hover {
    color: #104954;
}
